<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Havit</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/jpg" href="/imgs/havit.ico"/>
</head>
<body class="site-bg">
   <nav class="navbar navbar-expand-lg nav-bg">
      <div class="container-fluid">
        <a class="navbar-brand brand-color" href="#"><span class="fs-2 fw-bold">Havit!</span><span class="fs-4 fst-italic fw-light ps-1"> habit tracking made easy</span></a>
        <div class="d-flex flex-row-reverse">
            <div class="navbar-nav">
                <a class="nav-link fs-5 ms-4 fst-italic" href="#">Dashboard</a>
                <a class="nav-link fs-5 ms-4 fst-italic" href="#">Profile</a>
                <a class="nav-link fs-5 ms-4 fst-italic" href="#">Login</a>
                <a class="nav-link fs-5 ms-4 fst-italic" href="#">Logout</a>
            </div>
        </div>
      </div>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer class="footer-content">© 2022 <a class="footer-link" href="https://github.com/colinbrindle" target="_blank">Colin Brindle</a>. All Rights Reserved.</footer>
</body>
</html>