<div class="container">
    <div class="row  d-flex align-items-center">
        <div class="col-7">
            <img src="/imgs/havit_logo.png" class="img-fluid" at="Havit mascot">
        </div>
            <div class="col-5">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="m-3">
                    Welcome to <span class="brand-color fw-bold">Havit!</span> Habit tracking made easy for you. </br></br>Get started with the button below.
                    </h3>
                    <button type="button" class="btn btn-primary btn-lg">Log in / Sign up</button>
                </div>
            </div>
        </div>               
    </div>
</div>